<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SDEV</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <!-- ナビゲーションリンクをnavタグでグループ化 -->
      <nav class="header-nav" role="navigation" aria-label="global navigation">
        <div class="logo">
          <a href="/">ECサイト-app3</a>
        </div>
        <div class="nav-items">
          <a href="/index">一覧</a>
          <a href="/cart">カート</a>
          <a href="/login">ログイン</a>
        </div>
      </nav>

    </header>
    <div class="container">
      <!-- asideタグでサイドバーを明確化 -->
      <aside class="sidebar" role="complementary" aria-label="category list">
        <h3>カテゴリー </h3>

        <!-- JavascriptのforEachでcategoriesを表示 -->
        <% const categories = [
          {id: 1, name: 'Tシャツ'}, 
          {id: 2, name: 'ワイシャツ'}, 
          {id: 3, name: 'ズボン'}
        ]; %>
        <ul>
          <% categories.forEach((category) => { %>
            <li><%= category.name %></li>
          <% }); %>
        </ul>

      </aside>

      <!-- メインコンテンツ -->
      <main role="main">
        <h2>商品一覧</h2>

        <!-- JavascriptのforEachでProductsを表示 -->
        <div class="products-grid">
          <!-- Productsを表示 -->
          <% Products.forEach((product) => { %>
          <div class="product-card">
            <img src="<%= product.image %>" alt="product image">
            <h3><%= product.productName %></h3>
          </div>
          <% }); %>
        </div>

      </main>
    </div>

    <footer>
      <p>&copy; 2025 Yuto Takahashi All Rights Reserved.</p>
    </footer>
  </body>
</html>