<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SDEV</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <!-- ナビゲーションリンクをnavタグでグループ化 -->
      <nav class="header-nav" role="navigation" aria-label="global navigation">
        <div class="logo">
          <a href="/">ECサイト-app3</a>
        </div>
        <div class="nav-items">
          <a href="/index">一覧</a>
          <a href="/cart">カート</a>
          <a href="/login">ログイン</a>
        </div>
      </nav>

    </header>
    <div class="container">
      <aside class="sidebar" role="complementary" aria-label="category list">
        <h3>カテゴリー </h3>

        <!-- JavascriptのforEachでcategoriesを表示 -->
        <% const categories = [
          {id: 1, name: '衣類１'}, 
          {id: 2, name: '衣類２'}, 
          {id: 3, name: '衣類３'}
        ]; %>
        <ul>
          <% categories.forEach((category) => { %>
            <li><%= category.name %></li>
          <% }); %>
        </ul>
        
      </aside>


    </div>
    <footer>
      <p>&copy; 2025 Yuto Takahashi All Rights Reserved.</p>
    </footer>
  </body>
</html>