<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SDEV</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">SDEV</div>
        <div class="nav-items">
          <a href="#">ホーム</a>
          <a href="#">カート</a>
          <a href="#">ログイン</a>
        </div>
      </nav>
    </header>

    <div class="container">
      <!-- サイドバー -->
       <h3>カテゴリー</h3>
    </div>
    <h2>Hello world!</h2>
    <h2>Here is top.ejs</h2>
    <a href="/index">Go to Index</a>
  </body>
</html>