<!DOCTYPE html>
<HTML>
    <HEAD>
        <meta charset="utf-8">
        <TITLE>EC</TITLE>
    </HEAD>
<BODY>
    <header>
        Hello World!!
    </header>
    <div class="top-wrapper">

    </div>
    <div class="medium-warapper">

    </div>
    <duv class="bottom-wrapper">

    </duv>
    <footer>
    </footer>
</BODY>
</HTML>