<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ECサイト-app3</title>
    <!-- publicディレクトリ起点で、外部CSSファイルを指定 -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <!-- ナビゲーションリンクをnavタグでグループ化 -->
      <nav class="header-nav" role="navigation" aria-label="global navigation">
        <div class="logo">
          <a href="/">ECサイト-app3</a>
        </div>
        <div class="nav-items">
          <a href="/index">一覧</a>
          <a href="/cart">カート</a>
          <a href="/login">ログイン</a>
        </div>
      </nav>

    </header>

    <div class="container">
      <!-- asideタグでサイドバーを明確化 -->
      <aside class="sidebar" role="complementary" aria-label="category list">
        <h3>カテゴリー </h3>

        <!-- JavascriptのforEachでcategoriesを表示 -->
        <% const categories = [
          {id: 1, name: 'Tシャツ'}, 
          {id: 2, name: 'ワイシャツ'}, 
          {id: 3, name: 'ズボン'}
        ]; %>
        <ul>
          <% categories.forEach((category) => { %>
            <li><%= category.name %></li>
          <% }); %>
        </ul>

      </aside>

      <!-- メインコンテンツ -->
      <main role="main">
        <h2>おすすめ商品</h2>

        <!-- JavascriptのforEachでrecommendedProductsを表示 -->
        <!--
        <% const recommendedProducts = [
          {id: 1, name: 'Tシャツ', image: '/images/Tシャツ.jpg'}, 
          {id: 2, name: 'ズボン', image: '/images/ズボン.jpg'}, 
          {id: 3, name: 'セーター', image: '/images/セーター.jpg'}, 
          {id: 4, name: 'ワイシャツ', image: '/images/ワイシャツ.jpg'}
        ]; %>
        -->
        <div class="products-grid">
          <!-- 商品表示-->
          <% recommendedProducts.forEach((product) => { %>
          <div class="product-card">
            <img src="<%= product.image %>">
            <h3><%= product.name %></h3>
          </div>
          <% }); %>
        </div>

      </main>
    </div>

    <footer>
      <p>&copy; 2025 Yuto Takahashi All Rights Reserved.</p>
    </footer>
  </body>
</html>